/*
 * Copyright (c) 2026 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */

 #include <common/nordic/nrf9251dk_nrf9251-pinctrl.dtsi>

/ {
	chosen {
		zephyr,console = &uart133;
	};
};



&uart132 {
	status = "disabled";
};

 /*
&zephyr_i2c: &i2c120 {
	compatible = "nordic,nrf-twim";
	status = "disabled";
	clock-frequency = <I2C_BITRATE_STANDARD>;

	pinctrl-0 = <&i2c120_default>;
	pinctrl-1 = <&i2c120_sleep>;
	pinctrl-names = "default", "sleep";

	bme680: bme680@76 {
		status = "disabled";
		compatible = "bosch,bme680";
		reg = <0x76>;
	};

*/
