/*
 * Copyright (c) 2026 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */

/* Used for hardware fallback by task watchdog. */
&wdt010 {
	status = "okay";
};

&cpuapp_wifi {
	status = "okay";
};

